:root{
  --accent:#DEBA52;   /* Jaune moutarde */
  --bg:#000000;       /* Fond noir      */
  --fg:#F5F5F5;       /* Texte blanc    */
}

/* Reset ultra-léger */
*{box-sizing:border-box;margin:0;padding:0}

body{
  background:var(--bg);
  color:var(--fg);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* Ligne manuscrite */
.handwritten{
  font-family:'Gloria Hallelujah',cursive;
  font-size:4rem;
  color:var(--accent);
  letter-spacing:.05em;
}
